.preco-promocao{
    color: #038D00;
}

.card {
    max-width: 40em;
    flex-direction: row;
}

.card img{
    max-width: 50%;
    margin: auto;
    padding: 0.5em;

}
.card-body{
    display: flex;
    justify-content: space-between;
}
.text-section{
    max-width: 80%;
    width: 200px;
}
.cta-section{
    max-width: 40%;
    max-height 20%;
    display: flex;
    align-content: space-between;
    vertical-align: middle;
}

.cta-section .btn{
    padding: 0.3em 0.5em;
    margin: 1em;
}

.product-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}
.custom-btn{
    border: 2px solid;
    color: #000000;
    padding: 0.3em 0.5em;
    width: 100%;
    height: 100%;
    margin: auto;
}
.custom-btn span{
    font-size: 40px;
    margin: auto;
}

a:hover{
    color: #3CB043;
}

