{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block main %}

<!--<a class="feito" href="/cadastro-promocao/">Cadastrar Promoção</a><br>-->
<!--<a class="feito" href="/listagem-promocoes/">Pesquisa Promoções</a><br>-->
<!--<a class="feito" href="/cadastro-mercado/">Cadastrar Mercado</a><br>-->
<!--<a class="feito" href="/listagem-mercados/">Pesquisa Mercados</a><br>-->
<!--<a href="/cadastro-completo/">Cadastro completo</a> <br>-->
<!--<a href="/listagem-completa/">Listagem completa</a> <br>-->

<h3>PROMOÇÕES EM DESTAQUE</h3>

<!--<div id="carouselExampleControls" class="carousel slide carousel-dark d-none d-sm-block"-->
<!--     data-bs-ride="carousel">-->
<!--    <div class="carousel-inner">-->
<!--        <div class="carousel-item active">-->
<!--            <div class="cards-wrapper">-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/mussarela.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/sonho.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/pao_queijo.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <div class="cards-wrapper">-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/mussarela.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/sonho.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/pao_queijo.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <div class="cards-wrapper">-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/mussarela.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/sonho.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card">-->
<!--                    <div class="image-wrapper">-->
<!--                        <img src="/static/pao_queijo.jpg" alt="...">-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Card title</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"-->
<!--                data-bs-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Previous</span>-->
<!--        </button>-->
<!--        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"-->
<!--                data-bs-slide="next">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Next</span>-->
<!--        </button>-->
<!--    </div>-->

<!--</div>-->

<!--<div id="carouselExampleControlsSmallScreen" class="carousel carousel-dark slide d-sm-none" data-bs-ride="carousel">-->
<!--    <div class="carousel-inner">-->
<!--        <div class="carousel-item active">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item ">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item ">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <div class="image-wrapper">-->
<!--                <img src="/static/mussarela.jpg" alt="...">-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card title</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                    the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsSmallScreen"-->
<!--            data-bs-slide="prev">-->
<!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--        <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsSmallScreen"-->
<!--            data-bs-slide="next">-->
<!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--        <span class="visually-hidden">Next</span>-->
<!--    </button>-->
<!--</div>-->

<div id="carouselExampleControlsPadaria" class="carousel slide carousel-dark d-none d-sm-block" data-bs-ride="carousel">
    <div class="categoria"><h4>PADARIA</h4></div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                {% for i in promocoes.0|slice:"0:3" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.0|slice:"3:6" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.0|slice:"6:9" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsPadaria"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsPadaria"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="carouselExampleControlsPadariaSmallScreen" class="carousel slide carousel-dark d-none d-sm-block" data-bs-ride="carousel">
    <div class="categoria"><h4>PADARIA</h4></div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                {% for i in promocoes.0|slice:"0:3" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.0|slice:"3:6" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.0|slice:"6:9" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsPadaria"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsPadaria"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="carouselExampleControlsHortifruti" class="carousel slide carousel-dark d-none d-sm-block" data-bs-ride="carousel">
    <div class="categoria"><h4>HORTIFRUTI</h4></div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                {% for i in promocoes.1|slice:"0:3" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.1|slice:"3:6" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.1|slice:"6:9" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsHortifruti"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsHortifruti"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="carouselExampleControlsAcougue" class="carousel slide carousel-dark d-none d-sm-block" data-bs-ride="carousel">
    <div class="categoria"><h4>AÇOUGUE</h4></div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                {% for i in promocoes.2|slice:"0:3" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.2|slice:"3:6" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.2|slice:"6:9" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsAcougue"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsAcougue"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="carouselExampleControlsBebidas" class="carousel slide carousel-dark d-none d-sm-block" data-bs-ride="carousel">
    <div class="categoria"><h4>BEBIDAS</h4></div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="cards-wrapper">
                {% for i in promocoes.2|slice:"0:3" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.2|slice:"3:6" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
            <div class="cards-wrapper">
                {% for i in promocoes.2|slice:"6:9" %}
                <div class="card">
                    <div class="image-wrapper">
                        {% if i.imagem %}
                            <img src="{{ i.imagem.url }}"> <br>
                        {% else %}
                            <img src="{% static 'promocao_generica.png' %}"> <br>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Descrição = {% if i.descricao %} {{ i.descricao }} {% endif %}</h5>
                        <p class="card-text">
                            Unidade = {% if i.unidade %} {{ i.unidade }} {% endif %} <br>
                            Distância = {% if i.distancia %} {{ i.distancia }} {% endif %} <br>
                            Mercado = {% if i.mercado.razao_social %} {{ i.mercado.razao_social}}{% endif %} <br> <br>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsBebidas"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsBebidas"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{% endblock %}