{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block main %}

    <h3>PAO - Promoções</h3>
    <a href="/">Início</a>
    <a href="/lista-compras/">Lista Compras</a>
    <a href="/grafico/">Gráfico</a>
    <a href="/usuario/">Perfil</a>
    <a href="/cadastro-promocao/">Cadastrar Promoção</a>
    <a href="/listagem-promocoes/">Pesquisa Promoções</a>
    <a href="/cadastro-mercado/">Cadastrar Mercado</a>
    <a href="/listagem-mercados/">Pesquisa Mercados</a>
    <a href="/cadastro-endereco/">Cadastrar Endereço</a>
    <a href="/listagem-enderecos/">Pesquisa Endereços</a>

{% endblock %}