{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block main %}
<link rel="stylesheet" href="{% static '/css/promocoes_style.css' %}">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">  <!--justify-content-center">-->
        <div class="" id="mynavbar" >
            <form class="d-flex" method="post">
                {% csrf_token %}
                <input class="form-control me-2" name="input_promocao" type="text" placeholder="Pesquise a promoção!">
                <button class="btn btn-primary" type="submit" >Search</button>
            </form>
        </div>
    </div>
</nav>

<h3>Listagem promoções</h3> <br>

{% for i in promocoes %}
<div class="card">
    {% if i.imagem %}
        <img class="card-img product-img img-fluid rounded-start" src="{{ i.imagem.url }}">
    {% else %}
        <img class="card-img product-img img-fluid rounded-start" src="{% static 'promocao_generica.png' %}">
    {% endif %}
    <div class="card-body">
        <div class="text-section">
            <h5 class="card-title">{% if i.descricao %} {{ i.descricao }} ({{ i.unidade }}) {% endif %}</h5>
            <p class="card-text">
                {% if i.preco_promocao %} <b class="preco-promocao">R${{ i.preco_promocao }}</b> <s>R${{ i.preco_normal }}</s>{% endif %} <br>
                {% if i.mercado.razao_social %}Supermercado: <b>{{ i.mercado.razao_social }}</b> {% endif %} <br>
                {% if i.distancia %}{{ i.distancia }}{% endif %}
            </p>
        </div>
        <div class="cta-section">
            <a class="custom-btn" href="{% url 'url_adicionar_item' i.id %}"><span class="material-symbols-outlined">note_add</span></a>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}